parameters:
	ignoreErrors:
		-
			message: '#^Method pocketmine\\event\\HandlerList\:\:getListenerList\(\) should return list\<pocketmine\\event\\RegisteredListener\> but returns array\<pocketmine\\event\\RegisteredListener\>\.$#'
			identifier: return.type
			count: 1
			path: src/event/HandlerList.php

		-
			message: '#^Property pocketmine\\event\\RegisteredListenerCache\:\:\$list \(list\<pocketmine\\event\\RegisteredListener\>\|null\) does not accept array\<pocketmine\\event\\RegisteredListener\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/event/HandlerList.php
